.section-title_theme_dark {
  text-align: center;
  width: 60%;
  color: white;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  position: relative;
  margin: 0 auto 20px;
  padding: 0;
}
