.footer__column-links {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-between;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
