.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  /* выше установили ограничения для секции */
}
.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  width: 183px;
  z-index: 3;
}
.header__title{
  display: flex;
  align-items: center;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 0 64px;
  width: 730px;
  z-index: 3;
}

.header__subtitle{
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.header__main-illustration{
  position: absolute;
  width:765px;
  max-height: 608px;
  right: 0;
  bottom:0;
  z-index:2;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
  z-index: 1;
}
.two-columns{
  display: flex;
  justify-content: space-between;
  min-width: 784px;
  width: 80%;
}
.two-columns__brief{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  max-width: 175px;
  margin: 0;
}
.two-columns__main-text{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 80%;
}
.two-columns__paragraph{
  margin-bottom: 30px;
  margin-top: 0;
}
.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
.description{
  display: flex;
  margin: 100px auto;
  justify-content: center;
}

.digits{
  margin: 100px auto;
}
.section-title{
  position: relative;
  text-align: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0 auto 20px auto;
  padding: 0;
  z-index:2;
}
.section-subtitle{
  position: relative;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin: 0 auto 0 auto;
  text-align: center;
  padding: 0;
  z-index:2
}
.table{
  max-width: 1100px;
  display: flex;
  justify-content:space-between;
  margin: auto;
  padding: 0;


}
.table__cell{
  margin-top: 60px;
  padding: 0;
  width: 250px;
  z-index: 1;
  vertical-align: top;
}
.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;

}

.feynman{
  margin: 100px 0;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
