.khan__book-link {
  margin-left: 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
}

.khan__book-link:hover {
  opacity: 0.5;
  transition: opacity 0.5s ease;
}
